.CoinCard {
  width: 35%;
  height: auto;
  min-height: 20em;

  border: 1px solid #726c6c;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #16191d;

  font-size: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 25%;

  border-bottom: 3px double #726c6c;
  font-size: 18px;
}

.symbol-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100%;
  width: 40%;

  /* border: 1px solid #726c6c; */
}

.coin-name {
  font-size: 26px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.coin-image {
  width: 2em;
  height: 2em;

  margin: 0;
}

.symbol {
  margin: 0;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 22px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  /* border: 1px solid #726c6c; */
}

.data-wrapper {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 90%;
  height: 2em;

  border-bottom: 1px solid #726c6c;

  padding: 0.5em;
}

.value {
  font-weight: 500;
}

.price-value {
  font-weight: 700;
}

.green {
  color: #00ff00;
}

.red {
  color: #ff0000;
}
